// placeholder for test, dont't remove it.

// $accentColor = #f00

// 默认值： 100
$mediumZoomZIndex = 10000;
$contentClass ?= '.theme-default-content';
// Live2d Minimum display width on mobile
$Live2DMobile ?= 550px;